* {
	transition: 0.2s ease-in-out;
}

body {
    background-color: #1e1e1e;
    color: #e0e0e0;
    font-family: system-ui;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 1.5em;
    margin: 0;
    transition: font-size 0.3s ease;
}

h1:not(:first-child) {
    font-size: 1.2em;
}

h2 {
    color: #00aaff;
    margin: 10, 0;
}

h2 {
    margin: 0;
    margin-top: 10px;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    padding: 20px;
}

nav ul li {
    margin-bottom: 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
}

#mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    transition: left 0.3s ease;
    z-index: 1001;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
}

#mobile-menu.open {
    left: 0;
    display: block;
}

main {
    background: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 20px 2.5vw;
    max-width: 95vw;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
}

section > div {
    align-items: center;
    display: flex;
    flex-direction: row;
}

section img {
    margin-right: 20px;
    max-width: 40%;
    display: inline-block;
}

section p {
    display: inline-block;
}

.support-links {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    margin-top: 5px;
}

.support-links a {
    color: inherit;
    margin: 0px 20px;
    text-decoration: none;
}

footer {
    padding: 20px;
    background: rgba(60, 60, 60, 0.6);
    color: #ffffff;
    position: relative;
    text-align: center;
    bottom: 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    text-decoration: underline;
}

a:hover {
    transform: scale(1.2);
    font-weight: 600;
    color: blue;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    #menu-toggle {
        display: block;
    }

    main {
        padding: 10px;
    }
    #support-links {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: #e0e0e0;
    }

    footer {
        color: #ffffff;
    }

    h2 {
        color: #00aaff;
    }

    main {
        background: #2a2a2a;
    }
    #menu-toggle {
        color: #ffffff;
    }
    #mobile-menu a {
        color: rgba(255, 255, 255, 0.8);
    }
}
