* {
	transition: all 0.2s ease-in-out;
}

html {
    background-color: #ffffff;
}

body {
    background-color: #f0f0f0;
    color: #333333;
    font-family: system-ui;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    color: #000000;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.5em;
    margin: 0;
}

h1:not(:first-child) {
    font-size: 1.2em;
}

h2 {
    color: #007acc;
    margin: 0;
    margin-top: 10px;
}

#overview h2 {
    margin-top: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    padding: 20px;
}

nav ul li {
    margin-bottom: 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

#menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    z-index: 1002;
}

#menu {
    display: none;
    position: fixed;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1001;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.6);
    text-align: right;
    transition: all 0.3s;
}

#menu a:hover {
    color: #007acc;
}

#menu.open {
    right: 0;
    display: block;
}

main {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px 2.5vw;
    max-width: 95vw;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    opacity: 0;
}

section > div {
    align-items: center;
    display: flex;
    flex-direction: row;
}

section img {
    margin-right: 20px;
    max-width: 40%;
    display: inline-block;
}

section p {
    display: inline-block;
}

.support-links {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #cccccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    margin-top: 5px;
}

.support-links a {
    color: #ffffff;
    margin: 0px 20px;
    text-decoration: none;
}

footer {
    padding: 20px;
    background: rgba(240, 240, 240, 0.9);
    color: #000000;
    position: relative;
    text-align: center;
    bottom: 0;
}

a {
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    transform: scale(1.2);
    font-weight: 600;
    background-color: #000000;
    padding: 5px;
    color: #007acc;
}

@keyframes flyIn {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.fly-in {
    animation: flyIn 0.5s forwards;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: #e0e0e0;
    }

    footer {
        background-color: rgba(0, 0, 0, 0.4);
        color: #ffffff;
    }

    h2 {
        color: #00aaff;
    }

    main {
        background: #2a2a2a;
    }
    #menu-toggle {
        color: #ffffff;
    }
    #menu {
        background-color: rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
    #menu a {
        color: rgba(255, 255, 255, 0.8);
    }
    .support-links {
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid #333333;
    }
    header {
        background: rgba(0, 0, 0, 0.2);
        color: #ffffff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    main {
        padding: 10px;
    }
    #support-links {
        flex-direction: column;
    }

    section img {
        max-width: 60vw;
    }
}
